## How to Calculate Bollinger Bands in Python
## By Bankej Soni

### We Calculate the following things first -

### Middle Band – 20 Day Simple Moving Average
### Upper Band – 20 Day Simple Moving Average + (Standard Deviation x 2)
### Lower Band – 20 Day Simple Moving Average - (Standard Deviation x 2)

More Detailed Explaination - https://www.tradingview.com/scripts/bollingerbands/

In [9]:
# Bollinger Bands Function

In [10]:
def Boll_Band(DF , n = 20):
    df = DF.copy()
    df["MB"] = df["Adj Close"].rolling(n).mean()
    df["UB"] = df["MB"] + 2*df["Adj Close"].rolling(n).std(ddof = 0)
    df["LB"] = df["MB"] - 2*df["Adj Close"].rolling(n).std(ddof = 0)
    df["Band_width"] = df["UB"]-df["LB"]
    return df[["MB","UB","LB","Band_width"]]

### Example

In [11]:
import yfinance

In [12]:
Google = yfinance.download(tickers = "GOOG" , period = "1mo" , interval = "5m")

[*********************100%***********************]  1 of 1 completed

In [13]:
Google

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-11-02 09:30:00-04:00,2896.187744,2909.989990,2892.820068,2900.219971,2900.219971,77284
2021-11-02 09:35:00-04:00,2913.189941,2924.790039,2912.249023,2924.489990,2924.489990,48314
2021-11-02 09:40:00-04:00,2922.500000,2926.000000,2916.750000,2923.389893,2923.389893,26914
2021-11-02 09:45:00-04:00,2922.570068,2923.352051,2917.989990,2918.810059,2918.810059,17491
2021-11-02 09:50:00-04:00,2917.129883,2922.840088,2915.709961,2919.500000,2919.500000,35892
...,...,...,...,...,...,...
2021-12-01 15:35:00-05:00,2857.439941,2860.375000,2856.854980,2860.370117,2860.370117,14098
2021-12-01 15:40:00-05:00,2860.760010,2865.000000,2860.010010,2864.754883,2864.754883,18894
2021-12-01 15:45:00-05:00,2863.370117,2863.370117,2855.010010,2855.010010,2855.010010,15919
2021-12-01 15:50:00-05:00,2855.000000,2855.860107,2843.679932,2843.679932,2843.679932,48716
2021-12-01 15:55:00-05:00,2846.419922,2846.419922,2830.000000,2832.159912,2832.159912,120846

In [14]:
#Applying the Function

In [15]:
Google[["MB","UB","LB","Band_width"]] = Boll_Band(Google)

In [16]:
Google

,Open,High,Low,Close,Adj Close,Volume,MB,UB,LB,Band_width
Datetime,,,,,,,,,,
2021-11-02 09:30:00-04:00,2896.187744,2909.989990,2892.820068,2900.219971,2900.219971,77284,NaN,NaN,NaN,NaN
2021-11-02 09:35:00-04:00,2913.189941,2924.790039,2912.249023,2924.489990,2924.489990,48314,NaN,NaN,NaN,NaN
2021-11-02 09:40:00-04:00,2922.500000,2926.000000,2916.750000,2923.389893,2923.389893,26914,NaN,NaN,NaN,NaN
2021-11-02 09:45:00-04:00,2922.570068,2923.352051,2917.989990,2918.810059,2918.810059,17491,NaN,NaN,NaN,NaN
2021-11-02 09:50:00-04:00,2917.129883,2922.840088,2915.709961,2919.500000,2919.500000,35892,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-12-01 15:35:00-05:00,2857.439941,2860.375000,2856.854980,2860.370117,2860.370117,14098,2875.403516,2896.065415,2854.741616,41.323799
2021-12-01 15:40:00-05:00,2860.760010,2865.000000,2860.010010,2864.754883,2864.754883,18894,2874.218262,2894.463738,2853.972785,40.490953
2021-12-01 15:45:00-05:00,2863.370117,2863.370117,2855.010010,2855.010010,2855.010010,15919,2872.753259,2894.077351,2851.429167,42.648184
2021-12-01 15:50:00-05:00,2855.000000,2855.860107,2843.679932,2843.679932,2843.679932,48716,2870.855188,2895.218238,2846.492138,48.726100
2021-12-01 15:55:00-05:00,2846.419922,2846.419922,2830.000000,2832.159912,2832.159912,120846,2868.640686,2898.088041,2839.193331,58.894711