## How to Calculate SMA in Python
## By Bankej Soni

In [1]:
# The SMA Function (Simple Moving Average)

In [2]:
def SMA(DF, n): # where n = length
    df = DF.copy()
    df["SMA"] = df["daily_return"].rolling(window = n).mean()
    return df["SMA"]

### Example -

In [3]:
import yfinance

In [4]:
Google = yfinance.download(tickers = "GOOG" , period = "1mo" , interval = "5m")

[*********************100%***********************]  1 of 1 completed

In [5]:
Google

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-11-03 09:30:00-04:00,2925.500000,2927.290039,2912.310791,2918.659912,2918.659912,38461
2021-11-03 09:35:00-04:00,2915.000000,2921.750000,2914.689941,2920.989990,2920.989990,29059
2021-11-03 09:40:00-04:00,2914.939941,2918.584961,2908.129883,2908.129883,2908.129883,21248
2021-11-03 09:45:00-04:00,2910.429932,2916.149902,2910.120117,2916.149902,2916.149902,19725
2021-11-03 09:50:00-04:00,2917.330078,2920.110107,2916.500000,2920.090088,2920.090088,16540
...,...,...,...,...,...,...
2021-12-02 15:35:00-05:00,2886.239990,2890.010010,2886.239990,2890.010010,2890.010010,11173
2021-12-02 15:40:00-05:00,2889.699951,2893.500000,2888.530029,2888.530029,2888.530029,12355
2021-12-02 15:45:00-05:00,2889.705078,2890.629883,2885.479980,2886.800049,2886.800049,14968
2021-12-02 15:50:00-05:00,2881.949951,2883.459961,2873.300049,2874.580078,2874.580078,30743
2021-12-02 15:55:00-05:00,2874.030029,2877.219971,2867.340088,2876.514893,2876.514893,65117

In [6]:
Google["daily_return"] = (Google["Adj Close"]/Google["Adj Close"].shift(1)) - 1 # Calculating the Daily Returns
Google

,Open,High,Low,Close,Adj Close,Volume,daily_return
Datetime,,,,,,,
2021-11-03 09:30:00-04:00,2925.500000,2927.290039,2912.310791,2918.659912,2918.659912,38461,NaN
2021-11-03 09:35:00-04:00,2915.000000,2921.750000,2914.689941,2920.989990,2920.989990,29059,0.000798
2021-11-03 09:40:00-04:00,2914.939941,2918.584961,2908.129883,2908.129883,2908.129883,21248,-0.004403
2021-11-03 09:45:00-04:00,2910.429932,2916.149902,2910.120117,2916.149902,2916.149902,19725,0.002758
2021-11-03 09:50:00-04:00,2917.330078,2920.110107,2916.500000,2920.090088,2920.090088,16540,0.001351
...,...,...,...,...,...,...,...
2021-12-02 15:35:00-05:00,2886.239990,2890.010010,2886.239990,2890.010010,2890.010010,11173,0.001324
2021-12-02 15:40:00-05:00,2889.699951,2893.500000,2888.530029,2888.530029,2888.530029,12355,-0.000512
2021-12-02 15:45:00-05:00,2889.705078,2890.629883,2885.479980,2886.800049,2886.800049,14968,-0.000599
2021-12-02 15:50:00-05:00,2881.949951,2883.459961,2873.300049,2874.580078,2874.580078,30743,-0.004233
2021-12-02 15:55:00-05:00,2874.030029,2877.219971,2867.340088,2876.514893,2876.514893,65117,0.000673

In [8]:
Google["SMA"] = SMA(Google , 20)

In [9]:
Google

,Open,High,Low,Close,Adj Close,Volume,daily_return,SMA
Datetime,,,,,,,,
2021-11-03 09:30:00-04:00,2925.500000,2927.290039,2912.310791,2918.659912,2918.659912,38461,NaN,NaN
2021-11-03 09:35:00-04:00,2915.000000,2921.750000,2914.689941,2920.989990,2920.989990,29059,0.000798,NaN
2021-11-03 09:40:00-04:00,2914.939941,2918.584961,2908.129883,2908.129883,2908.129883,21248,-0.004403,NaN
2021-11-03 09:45:00-04:00,2910.429932,2916.149902,2910.120117,2916.149902,2916.149902,19725,0.002758,NaN
2021-11-03 09:50:00-04:00,2917.330078,2920.110107,2916.500000,2920.090088,2920.090088,16540,0.001351,NaN
...,...,...,...,...,...,...,...,...
2021-12-02 15:35:00-05:00,2886.239990,2890.010010,2886.239990,2890.010010,2890.010010,11173,0.001324,0.000166
2021-12-02 15:40:00-05:00,2889.699951,2893.500000,2888.530029,2888.530029,2888.530029,12355,-0.000512,0.000190
2021-12-02 15:45:00-05:00,2889.705078,2890.629883,2885.479980,2886.800049,2886.800049,14968,-0.000599,0.000130
2021-12-02 15:50:00-05:00,2881.949951,2883.459961,2873.300049,2874.580078,2874.580078,30743,-0.004233,-0.000006
2021-12-02 15:55:00-05:00,2874.030029,2877.219971,2867.340088,2876.514893,2876.514893,65117,0.000673,-0.000041